@font-face {
    font-family: outfit;
    src: url('../fonts/Outfit-Regular.ttf');
  }
  #screen-shader {
    transition: opacity 0.1s ease 0s;
    z-index: 2147483647;
    margin: 0;
    border-radius: 0;
    padding: 0;
    background: #939393 !important;
    pointer-events: none;
    position: fixed;
    top: -10%;
    right: -10%;
    width: 120%;
    height: 120%;
    opacity: 0.6000;
    mix-blend-mode: multiply;
    display: block;
  }
  body {
    padding:0;
    margin: 0;
    box-sizing: border-box; 
    font-family: outfit;
  }
  .attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    bottom: 0;
  }
  .attribution a { 
    color: hsl(228, 45%, 44%); 
    }
  .container {
    background-color: hsl(212, 45%, 89%);
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #fff;
    height: fit-content;
    width: fit-content;
    box-shadow: 0px 7px 40px 5px rgba(125,125,125,0.39);
  }
  .content {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    padding:1em;
  }
  .card img {
    max-width:100%;
    margin: auto;
    
  }

  .card img, .card {
    border-radius: 12px;
  }


  section {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  h2 {
    margin: 1em 0 0 0;
    font-weight: bold;
    font-size: 25px;
    color: hsl(218, 44%, 22%);
  }

  p {
    margin:  1em auto 2em auto ;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    width: 85%;
  }
  